@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #24262b;
    color: #fff;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 58vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.box-messages {
    margin: 20px 0;
}

h1 {
    text-align: center;
    background: rgb(74, 0, 0);
    padding: 1.3% 0;
    font-size: 300%;
}

span.warning1 {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

span.warning2 {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

span.warning3 {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.red {
    color: #9e0000;
    font-weight: 900;
    font-size: 1.4vw;
}

.green {
    color: green;
    font-weight: 600;
    font-size: 1.3vw;
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.input {
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(132, 0, 0, 0.294);
}

.photo {
    height: 100%;
    width: 100%;
}

.file {
    display: none;
}

.upload-button {
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 55%;
    cursor: pointer;
    display: none;
}

.main-profile-pic-div {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-wrapper {
    display: flex;
    justify-content: center;
}

.profile-pic-div {
    max-height: 2vw;
    max-width: 2vw;
    min-width: 100px;
    min-height: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.delete-account {
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0);
    color: #9e0000 ;
    border: 0.4vh #9e0000 solid;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
}

span a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.return-back {
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0);
    color: #fff ;
    border: 0.3vh #fff solid;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}

.return-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4vh;
}

.return-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}

.input-submit {
    margin-top: 23px;
}

div.input {
    max-width: 130px;
    max-height: 40px;
    cursor: pointer;
    position: relative;
        left: 95px;
}

.input label {
    display: flex;
    margin: 0;
    cursor: pointer;
    position: relative;
    	bottom: 2px;
        left: -13px;
}

div div.input{
    margin: 8px 3px;
}

div div label {
    margin-top: 3px;
}

.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.delete-account:hover {
    box-shadow: 1px 5px 7px 1px #9e00006b;
    transition: 0.7s;
}

.mouseHover {
    display: block;
}

img:not([class]) {
    display: none;
}